// widget arrow box

.arrow-box {
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
}
.arrow-box:after, .arrow-box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-box:nth-child(1) {
  background: #ffb400;
  border: 4px solid #ffb400;
}

.arrow-box:nth-child(1):after {
  border-color: rgba(255, 180, 0, 0);
  border-top-color: #ffb400;
}

.arrow-box:nth-child(2) {
  background: #d2ff00;
  border: 4px solid #d2ff00;
}

.arrow-box:nth-child(2):after {
  border-color: rgba(255, 180, 0, 0);
  border-top-color: #d2ff00;
}

.arrow-box:nth-child(3) {
  background: #ff6a51;
  border: 4px solid #ff6a51;
}

.arrow-box:nth-child(3):after {
  border-color: rgba(255, 180, 0, 0);
  border-top-color: #ff6a51;
}

.arrow-box:nth-child(1):after,
.arrow-box:nth-child(2):after,
.arrow-box:nth-child(3):after {
  border-width: 16px;
  margin-left: -16px;
}